/java/*/.classpath
/java/*/.project
/java/*/mvnw
/java/*/mvnw.cmd
/java/*/.settings/
/java/*/target/
/java/*/*.class
/java/*/lib/
java/simple/.idea/**
/ui-ng/ng2_webpack/node_modules/
/ui-ng/swagger/demo/node_modules/
/ui-ng/webpack/node_modules/
/ui-ng/learn-node/node_modules/
.DS_Store
*.jar
*.jar
*.jar
*.jar
kotlin/hello-kotlin/.mvn/wrapper/maven-wrapper.jar
kotlin/hello-kotlin/.mvn/wrapper/maven-wrapper.properties
java/auth2/.mvn/wrapper/maven-wrapper.jar
/.idea/
/kotlin/.idea/

/kotlin/*/.classpath
/kotlin/*/.project
/kotlin/*/mvnw
/kotlin/*/mvnw.cmd
/kotlin/*/.settings/
/kotlin/*/target/
/kotlin/*/*.class
/java/simple/kotlin-basics & DS.iml
/java/auth2/.mvn/
/java/auth2/.mvn/wrapper/maven-wrapper.jar
/java/java8/
/java/sadp-concurrency/.idea/
/java/sadp-concurrency/sadp-concurrency.iml
/java/sadpHibernate/.idea/
/java/sadpHibernate/sadpHibernate.iml
/java/simple/src/test/Test
/java/tollStationApp/config-client/.mvn/
/java/tollStationApp/config-client/mvnw
/java/tollStationApp/config-server/.mvn/
/java/tollStationApp/microservices/.mvn/
/java/tollStationApp/tollprocess-task-intake/.mvn/
/java/tollStationApp/tollprocess-task-sink/.mvn/
/java/tollStationApp/tollprocess-task/.mvn/
/java/yamlReader/.mvn/
/kotlin/hello-kotlin/.mvn/
/java/simple/kotlin-basics & DS.iml
/java/simple/.idea/
